/* @font-face {
    font-family: 'WorkSans';
    src: local('WorkSans'),
        url('./WorkSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: local('WorkSans'),
        url('./WorkSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'WorkSans' !important;
} */

/* @font-face {
    font-family: 'WorkSans';
    src: local('WorkSans'), url('./WorkSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: local('WorkSans'), url('./WorkSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'WorkSans' !important;
} */
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('./Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('./Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins' !important;
}
/* @font-face {
    font-family: 'Lato';
    src: local('Lato'), url('./Lato-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'), url('./Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato' !important;
} */
